body{
    margin: 0;
    padding: 0;
    background: #EAEAEA;
}
.encabezado h2{
    font-size: 30;
    text-align: center;
    margin-top: 20px;
}
.imgRedonda {
    margin-left: 600px;
    margin-right: auto;
    width:300px;
    height:300px;
    border-radius:150px;
    border:10px solid #666;   
}
.nombre{
    width: 100%;
    height: 390px;
    background: #EAEAEA;
}
.principales h1{
    background: #e5cb82;
    font-size: 30;
    text-align: center;
    margin-top: 0px;
}
#columnas{
    font-size: 20;
    left: 100px;
    column-count:2;
    column-gap:20px;
  margin-left: 400px;
  list-style: none;
 }
 .principales1 h1{
    background: #e5cb82;
    font-size: 30;
    text-align: center;
    margin-top: 0px;
}
#parrafo{
font-size: 20;
left: 100px;
text-align: justify;
column-gap:20px;
margin-left: 100px;
margin-right: 100px;
}
.principales2 h1{
    background: #e5cb82;
    font-size: 30;
    text-align: center;
    margin-top: 0px;
}
#parrafo1{
    font-size: 20;
    left: 100px;
    text-align: justify;
    column-gap:20px;
    margin-left: 100px;
    margin-right: 100px;
    }
    .Experiencia h1{
        background: #e5cb82;
        font-size: 30;
        text-align: center;
        margin-top: 0px;
    }
    #parrafo2{
        font-size: 20;
        left: 100px;
        text-align: justify;
        column-gap:20px;
        margin-left: 100px;
        margin-right: 100px;
        }
        .Capacitaciones h1{
            background: #e5cb82;
            font-size: 30;
            text-align: center;
            margin-top: 0px;
        }
        #parrafo3{
            font-size: 20;
            left: 100px;
            text-align: justify;
            column-gap:20px;
            margin-left: 100px;
            margin-right: 100px;
            }
.Referencias h1{
    background: #e5cb82;
    font-size: 30;
    text-align: center;
    margin-top: 0px;
}
.grid-container{
    display: grid;
    background-color: chocolate;
    grid-template-columns: auto  ;
}
.grid-container div{
    background-color: #EAEAEA;
    color: black;
    border: 1px solid black;
}
.grid-container p {
    font-size: 20;
    left: 100px;
    text-align: justify;
    column-gap:20px;
    margin-left: 100px;
    margin-right: 100px;
}